body,
html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: none;
    overflow-x: hidden;
    max-width: 100vw;
}

footer {
    overflow: hidden;
}

.project-icon {
    width: 180px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
}

.sub-title {
    color: rgb(170, 18, 175);
    margin-left: 80px;
    margin-bottom: 0px;
    margin-top: 10px;
}

header {
    background: linear-gradient(to bottom, #5828e3 60%, #780dc5 90%, #ba08f6);
    height: 100vh;
    position: static;
}

#main-title,
#main-desc {
    color: white;
    margin-top: 0;
    width: 350px;
}

#main-title {
    font-size: 52px;
}

#main-title-box {
    position: relative;
    width: 300px;
    left: 80px;
    top: 400px;
}

.ed-card {
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 80px;
    box-shadow: 0 25px 20px rgba(0, 0, 0, 0.432), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-top: 40px;
    color: black;
    background: linear-gradient(to bottom, #5828e3 60%, #780dc5 90%, #ba08f6);
    text-align: center;
    transform: scale(0.99);
    transition: transform .5s;
}

.ed-card:hover {
    transform: scale(1.05);
    box-shadow: 0 25px 20px rgba(159, 157, 157, 0.432), 0 6px 6px rgba(133, 131, 131, 0.23);
}

#ed-card-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}


.socials-svg {
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 25px;
    transition: transform 1s;
}

.socials-svg:hover {
    transform: translateY(-7px);
}

.socials-path {
    fill: white;
}


.project-card {
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 25px 20px rgba(0, 0, 0, 0.432), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-left: 80px;
    margin-top: 40px;
    background: linear-gradient(to bottom, #5828e3 60%, #780dc5 90%, #ba08f6);
    transition: transform .5s;
    transform: scale(0.99);
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 25px 20px rgba(159, 157, 157, 0.432), 0 6px 6px rgba(133, 131, 131, 0.23);
}

a {
    text-decoration: none;
}

.project-title {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    color: black;
}

#project-card-section {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    overflow-x: scroll;
    scrollbar-width: none;
    padding-bottom: 55px;
}

.ed-img {
    width: 80px;
    height: 80px;
    margin-top: 12px;
}

.ed-date {
    color: #ffffff7b;
    font-size: 12px;
}

.ed-desc,
.ed-date {
    font-size: 12px;
}

#social-bar {
    height: 40px;
    width: 200px;
    position: absolute;
    float: right;
    top: 92%;
    right: 45px;

}

footer {
    height: 90vh;
    background: linear-gradient(to top, #5828e3 70%, #780dc5 90%, #ba08f6);
    text-align: center;
}

#footer-text {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    width: 300px;
    top: 340px;
    margin-left: auto;
    margin-right: auto;
}

.skill-bubble {
    margin-right: 20px;
    background-color: #780dc5;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    font-size: 13px;
    padding: 5px 10px;
}

#skill-bubble-bar {
    margin-left: 31%;
    margin-top: 20px;
    height: 30px;
}

#skill-bubble-section {
    height: 75px;
}

#js-arrow-button {
    color: white;
    font-size: 18px;
    position: relative;
    left: 225px;
    bottom: 72px;
}

#arrow-icon {
    height: 20px;
    width: 20px;
    animation-name: bounce-right;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-delay: 10s;
    cursor: pointer;
}

@keyframes bounce-right {
    0% {
        transform: translateX(0px);
    }

    30% {
        transform: translateX(0px);
    }

    40% {
        transform: translateX(7px);
    }


    50% {
        transform: translateX(7px);
    }

    65% {
        transform: translateX(0px);
    }
}

#main-desc-after {
    color: white;
    width: 1000px;
    position: relative;
    left: 222px;
    bottom: 50px;
    margin: 0;
    height: 29.6px;
}

#down-arrow {
    width: 30px;
    height: 30px;
    animation-name: bounce-down;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#down-arrow-box {
    position: absolute;
    top: 92%;
    left: 2%;
}

@keyframes bounce-down {
    0% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-7px);
    }

    45% {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(-7px);
    }

    65% {
        transform: translateY(0px);
    }
}


#contact-me-title {
    color: black;
    position: relative;
    top: 80px;
    right: 85px;
    margin: 0px;
}

#contact-me-card {
    box-shadow: 20px 25px 20px rgba(0, 0, 0, 0.432), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #ffffff;
    border-radius: 10px;
    width: 600px;
    left: 600px;
    height: 300px;
    position: relative;
    top: 100px;
    z-index: 1;
}

#contact-me-subtext {
    font-size: 22px;
    font-weight: 700;
    position: relative;
    color: #ba08f6;
    top: 75px;
    left: 135px;
}

#email-text {
    font-size: 22px;
    font-weight: 700;
    position: relative;
    width: 280px;
    top: 135px;
    left: 30px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#email-text:hover {
    color: #ba08f6;
}

#name-span {
    color: #ba08f6;
    font-weight: 500;
}

#snake-svg {
    height: 20px;
    width: 20px;
    z-index: 0;
    position: relative;
    bottom: 600px;
    lefT: 600px;
}

.snake-path-top {
    fill: #ba08f6;
}

#snake-svg-top {
    height: 200px;
    width: 200px;
    bottom: 280px;
    left: 1200px;

    position: relative;
}

#snake-path {
    fill: #ba08f6;
}

#snake-icon {
    transform: scale(1);
    position: relative;
    z-index: 2;
    top: 0px;
    right: 680px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 0% 45%);

}

#main-section {
    overflow: hidden;
    height: 950px;
}

#bubbles-svg {
    height: 25px;
    width: 25px;
    position: relative;
    bottom: 130px;
    left: 270px;
}

#bubbles-path {
    fill: #ba08f6;
}

@media (max-height: 600px) {
    header {
        height: 150vh;
    }

}

/*Start media query */
@media (max-width: 600px) {
    #snake-icon {
        display: none;
    }

    #down-arrow-box {
        top: 89%;
    }

    html {
        overflow-x: hidden;
        max-width: 100%;
    }

    #twitter-svg {
        margin-right: 0;
    }

    #skill-bubble-section {
        height: 175px;
        width: 300px;
        margin: 0 auto;
    }

    #social-bar {
        top: 5%;
        right: 5%;
    }

    #skill-bubble-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 300px;
        justify-content: space-evenly;
        margin-left: 0;
    }

    .skill-bubble {
        margin-bottom: 5px;
        margin-right: 0;
    }

    /* media query */

    #main-section {
        height: 2700px;
    }

    #main-desc {
        font-size: 18px;
        margin-left: 45px;
        width: 200px;
    }

    header {
        height: 94vh;
    }

    #main-title {
        font-size: 42px;
        width: 255px;
    }

    #main-title-box {
        width: 270px;
    }

    #project-card-section {
        display: flex;
        flex-direction: column;
        margin: 0px;
        align-items: center;

    }

    /* media query */
    .sub-title {
        text-align: center;
        margin-left: 0;
    }

    .project-card {
        margin-left: 0 !important;
    }

    .ed-card {
        margin-left: 0;
    }

    #ed-card-section {
        flex-direction: column;
        align-items: center;
    }


    #js-arrow-button {
        bottom: 116px;
    }

    #main-desc-after {
        left: 0px;
        bottom: 0px;
        font-size: 18px;
        width: 260px;
        height: 80px;
    }

    footer {
        height: 80px;
    }

    #tool-tip {
        position: static !important;
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    /* End of the media query */
}

.tech-text {
    font-size: 12px;
    margin: 0;
    text-align: center;
    color: #4d4852a5;
}

#tool-tip {
    position: absolute;
    left: 200px;
    background-color: rgb(170, 18, 175);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    bottom: -185px;
}